[user]
  # name = Your Name
  # email = Your Email
  # signingkey = Your GPG key fingerprint or SSH public key
[gpg]
  # format = ssh
[gpg "ssh"]
  # program = "/Applications/1Password.app/Contents/MacOS/op-sign-ssh"
  # program = "/opt/1Password/op-ssh-sign"
[commit]
  # Enable to sign all commits
  # gpgsign = true
[core]
  eol = lf
  autocrlf = false
  compression = 9
  loosecompression = 1
  ignorecase = false
[init]
  defaultBranch = main
[checkout]
  defaultRemote = origin
[pull]
  rebase = false
[push]
  default = upstream
[rebase]
  autosquash = true
[color]
  diff = auto
  status = auto
  branch = auto
[apply]
  whitespace = nowarn
[alias]
  ff = pull --ff-only
  ff-merge = merge --ff-only
  recommit = commit --amend
  workdir-or-cwd = !echo $PWD
  workdir = rev-parse --show-toplevel
  prune = fetch --all --prune
  log-branch = log --no-merges --first-parent
  oneline-log = log --pretty='%aI %h %s - %an <%ae>'
  release-log = log --first-parent --pretty=oneline --reverse
  sync-master = fetch origin master:master
  sync = fetch origin main:main
