[user]
[commit]
[core]
  excludesfile = ~/.gitignore
  editor = vim
  eol = lf
  autocrlf = false
  compression = 9
  loosecompression = 1
[color]
  diff = auto
  status = auto
  branch = auto
[apply]
  whitespace = nowarn
[alias]
  ff = pull --ff-only
  ff-merge = merge --ff-only
  recommit = commit --amend
  workdir-or-cwd = !echo $PWD
  workdir = rev-parse --show-toplevel
  prune = fetch --all --prune
  in-develop = log master..develop --pretty='format:%s' --no-merges
  deploy = push origin HEAD:develop
  log-branch = log --no-merges --first-parent
  cleanup = !git branch --merged master | grep -v master | xargs git branch -d
  feature = !git checkout -f master && git pull --ff-only && git checkout -b
[push]
  default = upstream
[rebase]
  autosquash = true
