enable-ssh-support
#pinentry-program /usr/local/bin/pinentry-curses
pinentry-program /usr/local/bin/pinentry-mac

default-cache-ttl 3600
max-cache-ttl 32400
default-cache-ttl-ssh 3600
max-cache-ttl 32400
