#!/usr/bin/env zsh

# Setup aliases for our project folders

#for f in $HOME/htdocs/*/; do
#  f=$(basename $f)
#  if `which $f > /dev/null`; then
#  else
#    $f() { cd $HOME/htdocs/$0/$1; }
#    compctl -W $HOME/htdocs/$f/ -/ $f
#  fi
#done
