#!/usr/bin/env zsh

# Setup aliases for our project folders
#for f in $CODE_HOME/*/; do
#  f=$(basename $f)
#  if ! command -v $f &> /dev/null; then
#    $f() { cd $CODE_HOME/$0/$1; }
#    compctl -W $CODE_HOME/$f/ -/ $f
#  fi
#done

# Autocomplete Atom shortcuts.
#if command -v atom &> /dev/null; then
#  a() { atom $CODE_HOME/$1 }
#  compctl -W $CODE_HOME/ -/ a
#fi
